.container {
  height: 100vh;
  min-width: 75px;
  background-color: #050608;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.topspace {
  flex: 2;
  min-height: 25px;
}

.gap {
  flex: 2;
  min-height: 25px;
}

.bottomspace {
  flex: 20;
}

.iconbox {
  flex: 1;
}