.container {
  min-height: 100vh;
}

.main {
    height: 100%; 
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
}

.rightColumn {
  height: 100vh;
  background-color: #F0F2F4;  
  display: flex;
  flex: 21;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

.topRight {
  flex: 1;
  display: flex;
  margin-left: 15%;
  justify-content: center;
  flex-direction: column;
}

.topRight1 {
  flex: 1;
}

.topRight2 {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.topRight2SubChosen {
  flex-direction: row;
  margin-right: 1vh;
  border-bottom: 3px solid #01C5C4;
}

.topRight2Sub {
  flex-direction: row;
  margin-right: 1vh;
}

.bottomRight {
  flex: 3;
  overflow-y: auto;  /*adds scroll to this container*/
  background-color: white;
}

.bottomRightSub {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow-y: auto;  /*adds scroll to this container*/
  margin-left: 15%;
}

.bottomRightSubItems {
  flex: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
