.container {
  min-height: 100vh;
}

/* Layer 2 */

.main {
  height: 100%; 
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
}

/* Layer 3 */

.rightColumn {
  height: 100vh;
  display: flex;
  flex: 21;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

/* Layer 4 */

.body {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: auto;  /*adds scroll to this container*/
}

/* Layer 4 */

.leftindent {
  width: 8.3vw;
}

.bodyCenter {
  width: 78.85vw;
}

.rightIndent {
  width: 8.3vw;
}

/* Layer 5 */

.bodyHead {
  flex: 1;
  margin-top: 1%;
  width: 48%;
  display: flex;
  flex-direction: row;
}

.headLine {
  color: #E5E5E5;
  width: 50%;
  background-color: #E5E5E5;
  height: 1px;
}

.bodyTitle {

}

.classes {
  flex: 1;
  display: flex;
  flex-direction: row;
}

/* Layer 6 */

.bodyHeadItemOne {
  flex: 5;
}

.bodyHeadItemTwo {
  flex: 1;
  padding-left: 2%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
