.container {
  min-height: 100vh;
}

.main {
    height: 100%;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
}

.leftColumn {   
  height: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.rightColumn {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex: 15;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

.topLeft {
  flex-shrink: 0;
}

.topRight {
  flex-shrink: 0;
  display: inline-flex;
}

.bottom {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
